[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "extra-layers/meta-openembedded"]
	path = extra-layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "extra-layers/meta-qt5"]
	path = extra-layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "extra-layers/meta-xilinx"]
	path = extra-layers/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "extra-layers/meta-xilinx-tools"]
	path = extra-layers/meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools.git
[submodule "extra-layers/meta-petalinux"]
	path = extra-layers/meta-petalinux
	url = https://github.com/Xilinx/meta-petalinux
