[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "extra-layers/meta-openembedded"]
	path = extra-layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
